@using EFZ.Resources
@using Microsoft.Data.SqlClient.DataClassification

@model EFZ.WebApplication.Models.Attachment.AttachmentIndexModel
@{
    ViewData["Title"] = @Labels.valAttachment;
}

<h1>@Labels.valAttachment</h1>
<div class="ribbon-bar">

    <button type="button" class="btn btn-primary attachment-new-btn" data-title="@Labels.valNewAttachment" data-url="@Url.Action("NewAttachment", "Attachment")">@Labels.valNewAttachment</button>

</div>



<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.Raw(Labels.valCustomer)</th>
            <th scope="col">@Html.Raw(Labels.valOrderNumber)</th>
            <th scope="col">@Html.Raw(Labels.valDeliveryNumber)</th>
            <th scope="col">@Html.Raw(Labels.valFile)</th>
            <th scope="col">@Html.Raw(Labels.valFileType)</th>
            <th scope="col">@Html.Raw(Labels.valAction)</th>

        </tr>
    </thead>
    <tbody>
        @{

            int counter = 1;
            foreach (var attachment in Model.Attachments)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@Html.Raw(attachment.Delivery?.Order?.Customer.Name)</td>
                    <td>@Html.Raw(attachment.Delivery?.OrderNumber)</td>
                    <td>@Html.Raw(attachment.Delivery?.DeliveryNumber)</td>
                    <td>@Html.Raw(attachment.FileName)</td>
                    <td>@Html.Raw(attachment.FileType)</td>
                    <td>
                        <button class="btn btn-primary attachment-download-btn" data-attachment-id="@attachment.Id" data-file-name="@attachment.FileName" ><i class="fas fa-file-download"></i></button>
                        <button type="button" class="btn btn-danger customer-delete-btn" data-title="@LabelsMessages.valDeleteAttachment" data-url="@Url.Action("DeleteAttachment", "Attachment", new {attachmentId = attachment.Id})"><i class="far fa-trash-alt"></i></button>

                    </td>

                </tr>
                counter++;
            }}

    </tbody>
</table>


<div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog">

</div>
<div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog">

</div>